<h1>{{title}}</h1>
<table>
  <tr>
    <th>
      New Stuffy
    </th>
  </tr>
  <tr>
    <td>
      Id:<input type="number" id="id" [(ngModel)]="id" placeholder="enter id #"><br>
    </td>
  </tr>
  <tr>
    <td>
      Type: <input type="text" id="type" [(ngModel)]="type" placeholder="enter type"><br>
    </td>
  </tr>
  <tr>
    <td>
      Color: <input type="text" id="color" [(ngModel)]="color" placeholder="enter color"><br>
    </td>
  </tr>
  <tr>
    <td>
      Size: <input type="text" id="size" [(ngModel)]="size" placeholder="xs/s/m/l/xl/xxl"><br>
    </td>
  </tr>
  <tr>
    <td>
      Limbs: <input type="number" id="limbs" [(ngModel)]="limbs" placeholder="# of limbs"><br>
    </td>
  </tr>
</table>
<table>
  <th>
     <u>Stuffies List</u>
  </th>
  <tr>
    <th>
      ID  TYPE  COLOR SIZE  LIMBS
    </th>
  </tr>
  <tr *ngFor="let s of stuffies">
    <td>{{s.id}} {{s.type}} {{s.color}} {{s.size}} {{s.limbs}}</td>
  </tr>
</table>
<button (click)="addStuffy()">Add Stuffy</button>